<!DOCTYPE html>
<html>
  <head>
    <title>AetherFE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="avatar_url" content="<%= @avatar_url %>" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <main id="main">
      <%- if Rails.env.development? -%>
        <div class="dev-links">
          <%= link_to "pry", "/dev/pry" %>
          <%= link_to "user 1", "/dev/login/1" %>
          <%= link_to "user 2", "/dev/login/2" %>
          <%= link_to "user 3", "/dev/login/3" %>
          <%= link_to "logout", "/dev/logout" %>
        </div>
      <%- end -%>

      <div id="flash-init">
        <%- flash.each do |key, value| -%>
          <div class="flash-doc flash-<%= key %> display-none">
            <%= value %>
          </div>
        <%- end -%>
      </div>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>

      <%- if Rails.env.development? || Rails.env.test? -%>
        <%= javascript_tag do %>
          window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
      <%- end -%>
    </main>
  </body>
</html>
